<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Index</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jimmy Jun</td>
            <td>jjun@gmail.com</td>
            <td>June 15, 2015</td>
            <td>Show Edit Delete</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Andrew Lee</td>
            <td>alee@gmail.com</td>
            <td>June 16, 2015</td>
            <td>Show Edit Delete</td>     
        </tr>
        <tr>
            <td>3</td>
            <td>Jay Patel</td>
            <td>jpatel@gmail.com</td>
            <td>June 17, 2015</td>
            <td>Show Edit Delete</td>    
        </tr>
        <tr>
            <td>4</td>
            <td>Eduardo Baik</td>
            <td>ebaik@gmail.com</td>
            <td>June 18, 2015</td>
            <td>Show Edit Delete</td>   
        </tr>
    </table>
    <p>Add a new user</p>
</body>
</html>