<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
</head>
<body>
    <h1>Random Word Generator</h1>
    <form action='/generate' method='post'>
        {% csrf_token %}
        <h3>Random Word</h3>
        <p1>Current count is: {{ num_clicks }}</p1>
        <div class="word">{{rando}}</div>
        <input type="submit" value="Generate">
    </form>
</body>
</html>