<!DOCTYPE HTML>
<html>
    <head>
            <title>Turtle Pics</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/ninja_turtles.css') }}">
    </head>
    <body>
            <h1>Ninja Turtles</h1>
            <img class="turtles_pics" id="leonardo" src="/static/leonardo.png" alt="no Leonardo">
            <img class="turtles_pics" id="donatello" src="/static/donatello.png" alt="no Donatello">
            <img class="turtles_pics" id="michaelangelo" src="/static/michaelangelo.png" alt="no Michaelangelo">
            <img class="turtles_pics" id="raphael" src="/static/raphael.png" alt="no Raphael">
    </body>
</html>