<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.createdat}}</td>
                <td><a href="{{course.id}}/delete"/>Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</body>
</html>