<!DOCTYPE html>
<html lang="en">
    <!--  -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login and Registration</title>
    </head>
    <!--  -->
    <body>
        <!--  -->
        <h5><a href='http://127.0.0.1:8000'/>Reset Page</a></h5>
        <h1>Welcome!</h1>
        <div id="log_reg_form">
            <h1>Registration</h1><br>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <form action="/createuser" method="POST">
                {% csrf_token %}
                Name: <input type="text" name="myname"><br><br>
                Username: <input type="text" name="myusername"><br><br>
                Password: <input type="password" name="password"><br><br>
                Confirm Password: <input type="password" name="confirm"><br><br>
                <p>*Password should be at least 8 characters</p>
                Hire Date: <input type='date'  name='hiredate' value="{{m.hiredate|date:"Y/m/d"}}" required=True><br>
                <p>*Hire Date should be in MM-DD-YYYY format</p>
                <input type="submit" name="register" value="Register"><br><br>
            </form>
        </div>
        <!--  -->
        <div id="login_form">
            <h1>Log In</h1><br>
            <form action="/login" method="POST">
                {% csrf_token %}
                Username: <input type="text" name="myusername"><br><br>
                Password: <input type="password" name="password"><br><br>
                <input type="submit" name="login" value="Log In"><br><br>
            </form>
        </div>      
        <!--  -->
    </body>
</html>