<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h5><a href="/logout">Log Out</a></h5>
    <h1>Hello, {{request.session.name}}</h1>
     <h4>Your Wish List:</h4>
    <table>
        <thead>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
            <th>userid</th>
            <th>userAdded_id</th>
        </thead>
        <tbody>
            {% for wish in wishes %}
            <tr>
                <td><a href='/wishers/{{wish.id}}'/>{{wish.name}}</td>
                <td>{{wishes.id}}</td>
                <td>{{wish.name}}</td>
                {% if request.session.userid == item.userWished_id_id %}
                    <td><a href="delete/{{item.id}}"/>Delete</a></td>
                    {% else %}
                        <td><a href="remove/{{item.id}}"/>Remove from my Wishlist</a></td>
                {% endif %}
                <td>{{item.userid}}</td>
                <td>{{item.userAdded_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
        <h4>Other Wishlist</h4> -->
    <table>
        <thead>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
            <th>userid</th>
            <th>userAdded_id</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.userWished_id_id}}</td>
                <td>{{item.created_at}}</td>
                <td><a href="wish/{{item.id}}"/>Add to my Wishlist</a></td>   
                <td>{{item.userid}}</td>
                <td>{{item.userAdded_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    <p><a href='/createitemview'/>Add Item</a></p>
    <p>{{name}}</p>
</body>
</html>
