<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <h5><a href="/logout">Log Out</a></h5>
    <h5><a href="/home">Dashboard</a></h5>
    <h3>Posts by {{name}}</h3>
    <h3>Count: {{count}}</h3><br>
    {% for quote in quotes %}
    <div>
        <p style="color:red;">{{quote.author}}</p>
        <p>{{quote.quote}}</p>
    </div><br>
    {% endfor %}
</body>
</html>