<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
</head>
    <body>
            <h>Welcome to the Ninja Gold Game!</h1>
            <div id="gold_count">Session Gold Count: {{request.session.gold_count}}{{location}}</div>
            <div>
                <!--  -->
                <div class="places_divs">
                    <h4>Farm</h4>
                    <h5>(earns 10-20 golds)</h5>
                    <form action="/ninjagold_app/process" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="farm">
                        <input type="submit" name="farm" value='Find gold!!'>
                    </form>
                </div>
                    <!--  -->
                    <!--  -->
                <div class="places_divs">
                    <h4>Cave </h4>
                    <h5>(earns 5-10 golds)</h5>
                    <form action="/ninjagold_app/process" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="cave">
                        <input type="submit" name="cave" value='Find gold!!'>
                    </form>
                </div>
                  <!--  -->
                  <!--  -->
                <div class="places_divs">
                    <h4>House</h4>
                    <h5>(earns 2-5 golds)</h5>
                    <form action="/ninjagold_app/process" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="house">
                        <input type="submit" value='Find gold!!'>
                    </form>
                </div>
                <!--  -->
                <!--  -->
                <div class="places_divs">
                    <h4>Casino</h4>
                    <h5>(earnsa/takes 0-50 golds)</h5>
                    <form action="/ninjagold_app/process" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="casino">
                        <input type="submit" value='Find gold!!'>
                    </form>
                </div>  
            </div>
            <h6>Activities:</h6>
            <div class='log'>
                {{request.session.message}}
            </div>
    </body>
</html>